#
# Configuration overrides for 'extended' mode, improving the recovery of
# larger scale structures.
#
# Author: Attila Kovacs <attila[AT]sigmyne.com>
#

# Assumed scales to recover (arcsec)
sourcesize 90.0

# Delay decorrelation on detector rows
#forget rows
#iteration.[4] recall rows

# Slow down decorrelation of modes (timescale in seconds)
#correlated.*.resolution 1.0
