# ===========================================================================
# SOFIA/HAWC+ Band D (155um) configuration
#
# Author: Attila Kovacs <attila[AT]sigmyne.com>
# Description:
#       This configuration file is automatically loaded when Band D (155um)
#       HAWC+ data is reduced with CRUSH. Users may define their own amended
#       configurations in ~/.crush2/hawc+/band-D.cfg which will be parsed
#       immediately after the global defaults contained here.
# See: crush/README, crush/hawc+/README
# ===========================================================================

# Set the filter name
filter 155um

# The operating wavelength in microns.
wavelength 155.0

# At PWV = 0, based on Uranus, Neptune & Ceres.
jansky 24.6

# Set the counts/kelvin conversion for skydips
kelvin 8231

# Zenith tau scaling relation to PWV...
tau.hawc_plus.a 0.0064
tau.hawc_plus.b 0.146

# An opacity model based on comparison of Vacca's model and skydips...
[taumodel] tau.hawc_plus.a 0.0120
[taumodel] tau.hawc_plus.b 0.072
[taumodel] pwvscale 6.25

# Bill Vacca's polynomial correction coeffiecients based on ATRAN model...
atran.amcoeffs 0.9992, -0.1945, 0.04305, 0.01207, -0.01096
atran.altcoeffs 0.9985, 0.04291, 0.0002014, -0.0004893, -6.200e-05, 3.079e-05
atran.reference 0.664

# Produce Level 3 if 'calibrated', else Level 2, products...
calibrated
[april2016] forget calibrated 

# Speciy the pixel spacing (arcsec)
date.[*--2017.10.01] pixelsize 6.88

# Based on Uranus 453.34
pixelsize 7.00

# Set the Gaussian FWHM (arcsec) for this band
beam 13.8

# Set the default image grid spacing (arcsec) for this band
grid 2.75

# Pointing correction
pointing -3.3,3.1
[dec2016] pointing 1.7,-3.6
[oct2017] pointing -4.2,-15.6

# FS15 170mK flatfields (starting F443)
pixeldata {?configpath}/hawc+/pixel-D.170mK.F445.dat

# Flatfields for 200 mK (from scan 354.54 on OMC-1)
# 200mK (before F443)
date.[*--2017.10.20] pixeldata {?configpath}/hawc+/pixel-D.200mK.F354.dat

#[apr2016] forget pixeldata


