[Desktop Entry]
Name=CRUSH's show tool
GenericName=FITS display tool
Comment=Display and manipulate FITS images produced by CRUSH (and more).
Exec=show %f
Icon=com.sigmyne.show
Terminal=true
Type=Application
Categories=Science;Astronomy
MimeType=image/fits;application/fits;
Keywords=astronomy;fits;
X-Desktop-File-Install-Version=0.22
