# ===========================================================================
# Common settings for CSO instruments
# ===========================================================================

# First, we define the relations to the 225GHz radiometer and the 350um tipper
# at the CSO. The first definition effectively makes the 225GHz value the
# implicit parameter 't' against which all other relations are defined.
# Thus, all linear relations are measured against 225GHz radiometer values.
tau.225GHz.a 1.0
tau.225GHz.b 0.0

# 350um tipper relation from Dowell.
tau.350um.a 26.43
tau.350um.b -0.081

# Precipitable Water Vapor (PWV) in mm. The conversion from 225GHz opacity is
# based on the ATM model by Juan Pardo. 
tau.pwv.a 20.2
tau.pwv.b -0.18

# Time-scale (in seconds) two which position information ought to be smoothed.
positions.smooth 0.1
[chopped] positions.smooth 0.05

# Use the JCMT 183 GHz tables as the primary source for tau
date.[2014.09.02--2014.09.14] tau jctables

# The folder or URL containing the JCMT tau tables
#tau.jctables www.jach.hawaii.edu/weather/opacity/mk/archive
tau.jctables www.eao.hawaii.edu/weather/opacity/mk/archive

# What source of tau to use if JCMT tau is not available...
jctables.fallback 225GHz

# Use ~1.5 minute time window if using JCMT tau...
[tau?jctables] tau.window 0.025

# specify the MaiTau settings
maitau.225GHz {?configpath}/cso/tau225_all.fit
maitau.350um {?configpath}/cso/tau350_all.fit
maitau.fallback 225GHz


