# ===========================================================================
# CRUSH common default settings for SOFIA instruments.
#
# Author: Attila Kovacs <attila@submm.caltech.edu>
# Description:
#       This configuration file is automatically loaded for SOFIA instruments
#	upon startup. Users may define their own SOFIA-specific startup
#       configuration in ~/.crush2/sofia/default.cfg which will be parsed
#       immediately after the global defaults contained here.
# See: crush/README
# ===========================================================================

# Automatically set 'extended' reduction mode if SRCTYPE is EXTENDED_SOURCE
# in the scan header.
fits.[SRCTYPE?EXTENDED_SOURCE] extended

# Set the 'chopped' keyword as necessary...
fits.[CHOPPING?T] chopped

# Smooth position information to this time resolution (in sec) to get rid of
# encoder noise.
#positions.smooth 0.1
forget positions.smooth

# Remove the scan synchronous signals, e.g. telescope vibrations.
#filter.motion
#filter.motion.stability 15.0

# Additional FITS header keys to migrate from first scan to image header...
#fits.addKeys KEY1, KEY2

