# The instrument state is the same as for Run 6 (Apr 2012), so start
# from that configuration
config gismo/run10.cfg

# updated pixel positions...
rcp {?configpath}/gismo/3C345.2014-10-21.synth.coupled.rcp

# the center position of the RCP
rcp.center -1.10,1.57

# Load skydip tau values to use for interpolation
tau.225GHz {?configpath}/gismo/tau-2014-10.CET.dat
tau.timezone CET
tau.window 0.25

# There doesn't seem to be a problem with jumps this time...
#blacklist dejump

# The pointing model, and the pointing log to use for incremental corrections
pointing.model {?configpath}/gismo/pointing-2014-10.model
pointing.table {?configpath}/gismo/pointing-2014-10.log

