# Use a very short 1/f stability
stability 3.0

# Iterate longer than usual...
rounds 25

# use maximum likelihood estimators after the first iteration
estimator maximum-likelihood

# Make a stong whitening filter to remove any spectral excess...
whiten.level 1.2

# Remove large-scale structures
forget gradients
source.filter
source.filter.fwhm 50.0
