# Assume a shorter 1/f stability
#stability 7.5

# Remove gradients from the array data
gradients
[extended] forget gradients

# Decorrelate MUXes, but do it slowly for extended sources
[extended] mux

# Allow solving for independent MUX gains per pixel
forget mux.nogains
[extended] mux.nogains
[extended] iteration.[75%] forget mux.nogains

# Decorrelate MUX at full resolution
forget mux.resolution

# decorrelate on address lines (aka pins).
#pins

# Remove axymuth-correlated signals (e.g. magnetic pickup)
#azymuth

# Remove telescope acceleration response
#accel





