# The instrument state is the same as for Run 6 (Apr 2012), so start
# from that configuration
config gismo/run6.cfg

# Recalibrated based on Mars 2014-04-06 to 04-08, based on ASTRO model
# A pupil size was increased on the telescope, yielding higher illumunation.
jansky 35.48
bias.[8000] jansky 42.44
bias.[10000] jansky 29.38
bias.[12000] jansky 23.52

# The beam FWHM after the enlargement of the pupil 
beam 16.0

# Load skydip tau values to use for interpolation
tau.225GHz {@CRUSH}/gismo/tau-2014-04.dat
tau.timezone UTC
tau.window 0.25

# There doesn't seem to be a problem with jumps this time...
#blacklist dejump

# The pointing model, and the pointing log to use for incremental corrections
pointing.model {@CRUSH}/gismo/pointing-2014-04.model
pointing.table {@CRUSH}/gismo/pointing-2014-04.log

