# Run 5 -- 2011 March 3--12 
# ----------------------------------------------------------------------------

# The conversion factor (counts/Jy).
# Based on Mars scans 2011-04-12 -- 2011.04.17
# 6.7% rms blind calibration, conversion accurate to 1.2%
# This calibration is for integrated flux in apertures at least a few times
# larger than the beam.
jansky 17.8

# For point sources, the better calibration is peak flux. Based on Neptune,
# the appropriate value is...
#[deep] jansky 15.8

# Set the pointing model to use for calculating 
# pointing corrections.
pointing.model {@CRUSH}/gismo/pointing-2011-04.model
[old] pointing.model {@CRUSH}/gismo/pointing-2011-04.old.model

# Apply incremental pointing corrections based on the pointing log
#pointing.table {@CRUSH}/gismo/pointing-2011-04.log
#[old] pointing.table {@CRUSH}/gismo/pointing-2011-04.old.log

# Load the pixel gains, weights, and flags
#pixeldata {@CRUSH}/gismo/pixel-4.dat

# Load the pixel positions and source gains
rcp {@CRUSH}/gismo/Saturn-2012-03-10.6-7.synth.rcp

# The offset of the position data
rcp.center -22.7,-12.7

# The rotation of the RCP
date.[2012.03.11--2012.03.13] rcp.rotate 3.1

# Alternatively, one may specify a pixel-size and rotation for a regular pixel
# grid. These settings are ignored when pixel position data (RCP files) are
# used.
pixelsize 9.9x20.2

# The rotation of the regular grid of pixels
rotation 128.2
date.[2012.03.11--2012.03.13] rotation 131.3



