# ===========================================================================
# SOFIA/HAWC+ Band D (155um) configuration
#
# Author: Attila Kovacs <attila@submm.caltech.edu>
# Description:
#       This configuration file is automatically loaded when Band D (155um)
#       HAWC+ data is reduced with CRUSH. Users may define their own amended
#       configurations in ~/.crush2/hawc+/band-D.cfg which will be parsed
#       immediately after the global defaults contained here.
# See: crush/README, crush/hawc+/README
# ===========================================================================

# Set the filter name
filter 155um

# At PWV = 0...
jansky 6.68

# Use a different conversion for skydips (blue leak?)
[source.type?skydip] jansky 11.6

# Use a constant mean tau value
#tau 0.255

# Zenith tau scaling relation to PWV...
tau.hawc_plus.a 0.0038
tau.hawc_plus.b 0.145

# Produce Level 3 if 'calibrated', else Level 2, products...
calibrated
[april2016] forget calibrated 

# Speciy the pixel spacing (arcsec)
pixelsize 7.00

# Set the Gaussian FWHM (arcsec) for this band
beam 14.1

# Set the default image grid spacing (arcsec) for this band
grid 2.8

# Load initial pixel information (from scan 354.54 on OMC-1)
pixeldata {$CRUSH}/hawc+/pixel-D.dat
[apr2016] forget pixeldata

# Pointing correction
[dec2016] pointing 1.1,-4.9
