# ===========================================================================
# SOFIA/HAWC+ Band E (216um) configuration
#
# Author: Attila Kovacs <attila@submm.caltech.edu>
# Description:
#       This configuration file is automatically loaded when Band E (216um)
#       HAWC+ data is reduced with CRUSH. Users may define their own amended
#       configurations in ~/.crush2/hawc+/band-E.cfg which will be parsed
#       immediately after the global defaults contained here.
# See: crush/README, crush/hawc+/README
# ===========================================================================

# Set the filter name
filter 216um

# The conversion factor (counts/Jy).
# Based on Uranus and Bendo et al. model.
jansky 7.50

# Zenith tau scaling relation to PWV
tau.hawc_plus.a 0.00117
tau.hawc_plus.b 0.150

# Mean tau during Dec 2016 commissioning flights
tau 0.188

# Produce Level 3 if 'calibrated', else Level 2, products...
[dec2016] calibrated
[apr2016] forget calibrated

# Speciy the pixel spacing (arcsec)
pixelsize 9.44

# Set the Gaussian FWHM (arcsec) for this band
beam 18.5

# Set the default image grid spacing (arcsec) for this band
grid 3.7

# Discard the first 6 columns due to vigneting...
#edge 6,0,0,0

# pointing corrections (XEL, EL) in arcsec
[oct2016] pointing 10.38,-7.84
[dec2016] pointing -5.2, 9.5

# Load initial pixel information (from scan 354.62 on OMC-1)
pixeldata {$CRUSH}/hawc+/pixel-E.dat
[apr2016] forget pixeldata

