# ===========================================================================
# SOFIA/HAWC+ Band C (89um) configuration
#
# Author: Attila Kovacs <attila@submm.caltech.edu>
# Description:
#       This configuration file is automatically loaded when Band C (89um)
#       HAWC+ data is reduced with CRUSH. Users may define their own amended
#       configurations in ~/.crush2/hawc+/band-C.cfg which will be parsed
#       immediately after the global defaults contained here.
# See: crush/README, crush/hawc+/README
# ===========================================================================

# Set the filter name
filter 89um

# The conversion factor (counts/Jy).
# Based on Neptune on 2016-10-03 scans 134-135
jansky 8.35
#date.[2016.10.05--2016.10.07] jansky 3.76
[oct2016] calibrated

# Speciy the pixel spacing (arcsec)
# Based on Neptune on 2016-10-03 scan 112 (R only!)
pixelsize 4.23

# Set the Gaussian FWHM (arcsec) for this band
beam 9.5

# Set the default image grid spacing (arcsec) for this band
grid 1.5

# Pointing corrections (XEL, EL) in arcsec
[oct2016] pointing 4.36,-13.79

