# ===========================================================================
# SOFIA/HAWC+ Band A (53um) configuration
#
# Author: Attila Kovacs <attila@submm.caltech.edu>
# Description:
#       This configuration file is automatically loaded when Band A (53um)
#       HAWC+ data is reduced with CRUSH. Users may define their own amended
#       configurations in ~/.crush2/hawc+/band-A.cfg which will be parsed
#       immediately after the global defaults contained here.
# See: crush/README, crush/hawc+/README
# ===========================================================================

# Set the filter name
filter 53um

# The conversion factor (counts/Jy).
# Note, each polarization array sees 50% of the total intensity 
jansky 0.5

# Set the plate-scale (arcsec/mm)
#platescale x.xx

# Speciy the pixel spacing (arcsec)
#pixelsize 2.6

# Set the Gaussian FWHM (arcsec) for this band
beam 4.7

# Set the default image grid spacing (arcsec) for this band
grid 1.0

