# Specify a maximum allowed rms base temperature fluctuation (in mK), or else 
# remove the scan from the dataset. 
# ca. 5% of the scans have fluctuations in excess of 1mK.
He3.maxrms 3.0

# Allow solving for gain on correlated band cables
forget cables.nogains

# Enable solving for the correlated noise resulting from twisting band cables.
[chopped] twisting

# Always decorrelate at the full time redsolution of the data
[extended] forget array.resolution

