# 1 Jy = 0.168 uV +- 1.4% point source. Calibration from same source as 
# indicated in 'default.cfg'. Yields about 8% rms on peak fluxes with 
# skydipfactor of 1.0...
jansky 1.69e-7

# Assume point sources (18"). This will adjust the filtering in deep mode
# to optimal values given the source size. (Note, this option will be ignored
# if 'extended' is also specified....
sourcesize 19.5

# Solve for the twisting of the flexible band cables
# Effectively reduces the largest unfiltered scale to ~1/4 array size.
twisting

