# Specify a maximum allowed rms base temperature fluctuation (in mK), or else 
# remove the scan from the dataset. 
# ca. 5% of the scans have fluctuations in excess of 1mK.
He3.maxrms 3.0

# Remove atmospheric gradients
gradients
[extended] forget gradients

# Gradient removal can cause instabilities with chopped data (perhaps because
# edge pixels have very different gains to the chopper than to the sky. So
# it is best to forgo sky gradient removal... 
[chopped] forget gradients

# Solve for cable twisting in chopped data
# In reality solving for these does not reallu improve the data quality, but
# can result in overflagging of pixels as they lose all their degrees of 
# freedom. Best to not use it...
#[chopped] twisting

# Always decorrelate at the full time redsolution of the data
[extended] forget array.resolution,boxes.resolution,cables.resolution

