# Specify a maximum allowed rms base temperature fluctuation (in mK), or else 
# remove the scan from the dataset. 
# ca. 5% of the scans have fluctuations in excess of 1mK.
He3.maxrms 3.0

# Remove atmospheric gradients
gradients
[extended] forget gradients

# Solve for cable twisting in chopped data
#[chopped] twisting

# Always decorrelate at the full time redsolution of the data
[extended] forget array.resolution,boxes.resolution,cables.resolution

