# Load the LABOCA configurations
config laboca/default.cfg

# Define, which channel contains the waveplate data...
waveplate.channel 306

# Specify the channel that holds the waveplate rotation frequency info.
waveplate.fchannel 304

# The waveplate angle at its reference position (in degrees).
waveplate.refangle 0.0

# Set the relative jitter in the waveplate rotation
waveplate.jitter 0.001

# Do not downsample PolKa data
forget downsample

# If the vertical analyzer is used, then set the 'ortho' option
#ortho

# Always synch the source, even in the last iteration, s.t. I does not
# pollute Q and U.
blacklist source.nosync

# Whitening to remain passive, not to undo the power modulation filter...
blacklist whiten.below

# Select the alternative synchronized mapping method. This maps a full 
# modulation cycle into a map pixel, as opposed to the usual method that
# maps sample by sample. The synchronized method should be used only if
# the mapping speeds do not exceed ~50 arcsec/sec.
#source.synchronized

# Solve for the polarization signals only in the last iteration
iteration.[last] source.polarization

