# The ordering of models in the default reduction pipeline. 
ordering offsets, drifts, correlated.obs-channels, correlated.chopper-x, correlated.accel-mag, weighting.frames, filter, weighting, despike, despike2, despike3, correlated.gradients, source

# Skip the last stream HDU if it's corrupt
#skiplast

# Specify the unit of the raw data
dataunit U

# The IQ --> shift conversion software to use
convert ~/src/iqconv/iqconv

# The naming convention for converted files (for automatic conversions or for
# finding converted files).
convert.naming converted

# Specify the acceptable range of readout signals (in dataunit).
# range <from>:<to>

# Specify the units in which the ouput map should be written. Use 'V/beam'
# to get uncalibrated data in detector voltage units, or 'Jy/beam' to write
# calibrated data, with the calibration factor defined via the 'jansky' option
# above
unit Jy/beam

# Load pixel tone frequency to position assignments.
toneid {@CRUSH}/mako/hotcold-2013-04-19.dat

# Ignore the individual hot/cold tone response, and use instead the median
# response uniformly for all pixels.
toneid.uniform

# The power exponent to use in calculating the 'cost' function of the toneid
# fit. 2.0 corresponds to a regular chi^2 type cost, 1.0 would be a 
# mean-absolute-deviation type cost.
toneid.power 0.5

# Maximum normalized deviation from fit for valid assignments
toneid.max 3.0

# An initial guess of the equivalent loading temperature (K) for the scan
toneid.guessT 150.0

# The range of acceptable loading temperatures (K) for tone identifications
toneid.Trange -1000:1000

# File containing pixel assignment data
assign {@CRUSH}/mako/assign-2013-04-01.dat

# Do not assign pixels if making beammaps.
[source.type?beammap] forget assign

# An initial guess of the equivalent loading temperature (K) at which pixel 
# positions were measured.
assign.guessT 300.0

# Do not match resonances to pixels if an rcp file is explicitly given
# and vice versa
[rcp] forget assign
[assign] forget rcp

# Load the pixel gains, weights, flags and coupling efficiencies
#pixeldata {@CRUSH}/mako/pixel.dat

# The minimum length of a valid scan, in seconds.
subscan.minlength 10.0

# The minimum number of active pixels required for mapping (both as a fraction
# of valid channels and as absolute number).
mappingfraction 0.0
mappingpixels 50

# Because of the correlated noise structure of pixels, the highest
# signal-to-noise is reached by smoothing less than a beam at 350um. Therefore
# define the optimal smoothing for 350um deep reductions.
#smooth.optimal

# Initial despiking level
despike.level 10.0

# Give the conversion factor (V/Jy).
date.[*:2013-04-21] jansky 2.84e-9
jansky 2.84e-9

# Set the instrument beam FWHM in arcsec
beam 8.5

# Set the map grid at ~1/5 beam
grid 1.5

# Time-scale (in seconds) two which position information ought to be smoothed.
positions.smooth 0.1
[chopped] positions.smooth 0.05

# Remove the scan synchronous signals, e.g. telescope vibrations.
#filter.motion

# Check to see if the chopper was used. If yes, then the 'chopped' key is
# set, allowing conditionals based on it to activate...
detect.chopped

# Clip data where the telescope acceleration exceeds 8'/s^2.
aclip 600.0

# The stability time-scale of the detectors in seconds (1 / 2fc).
stability 30.0

# Use MaiTau lookup?
tau maitau

# Or use direct tau from total-power?
# This is only calibrated for 350um operation, but may yield values in the 
# right ballpark at the other wavebands also provided that the passbands are
# somewhat similar... 
#tau direct

# specify the maitau settings
maitau.server agn.caltech.edu
maitau.fallback 225GHz
[350um] maitau.fallback direct

# Force positive pixel gains
array.signed

#array.nogains
#iteration.[2] forget array.nogains

# The range of acceptable pixel gains
#array.gainTange 0.1:3.0
array.gainRange *:*

# For extended sources, slow down the atmospheric decorrelation
[extended] array.resolution 1.0

# Gradients on sky 
gradients
#forget gradients

# The accepatble noise range relative to median noise.
#weighting.noiserange 0.1:10.0
forget weighting.noiserange

# For extended sources slow down strructured sky-noise removal (gradients)
# if used at all. By default, also disable it altogether...
[extended] gradients.resolution 1.0
[extended] forget gradients

# Define 'chop' as a shorthand for 'correlated.chopper-x'
alias.chopper correlated.chopper-x

# Do not use velocity clip for chopped data
#[chopped] vclip 0.0:150.0
[chopped] forget vclip

# Define the spectral band (Hz) for measuring white-noise levels
whiten.proberange 0.1:3.0

# Remove acceleration response
alias.accel correlated.accel-mag
# accel

# For extended, assume a source diameter of 1 arcmin.
[extended] sourcesize 60.0

# Instant focus coefficients
# x coefficient = dFx(mm) / x-asymmetry(%)
focus.xcoeff -0.29

# y coefficient = dFy(mm) / y-asymmetry(%)
focus.ycoeff -0.19

# z coefficient = dFz(mm) / x-elongation(%)
focus.zcoeff 0.54

# pointing change (") vs x/y focus change (mm)
focus.xpointing 38.3
focus.ypointing 41.1

# The minimum S/N on asymmetry and/or elongation for suggesting corrections
focus.s2n 4.0

# Coefficients for tau relations
# Various tau values can be defined as linear relations to a chosen parameter 
# as: 
#	tau(id) = a * t + b
# 
# The coefficients a,b for a relation with 'id' are defined via the keys
# 'tau.id.a', and 'tau.id.b'

# First, we define the relations to the 225GHz radiometer and the 350um tipper
# at the CSO. The first definition effectively makes the 225GHz value the
# implicit parameter 't' against which all other relations are defined.
# Thus, all linear relations are measured against 225GHz radiometer values.
tau.225GHz.a 1.0
tau.225GHz.b 0.0

# 350um tipper relation from Dowell.
tau.350um.a 26.43
tau.350um.b -0.081

# Precipitable Water Vapor (PWV) in mm. The conversion from 225GHz opacity is
# based on the ATM model by Juan Pardo. 
tau.pwv.a 20.2
tau.pwv.b -0.18

# Now, the appropriate relations defining the passband tau of SHARC-2 vs the
# 225GHz radiometer values.
# SHARC-2 350um relation by Kovacs.
tau.mako.a 29.22
tau.mako.b -0.384

# Set the plate-scale...
pixelsize 3.59x6.57

# Static offsets normally need to be added explicitly...
offsets.add

# The instrument orientation on mount. For recent scans the mounting angle is
# defined in the FITS file itself, esp. if not defined in the FITS file 
# already
rot0 182

# The array is mirrored in the focal plane
mirror

# Set the location of the pointing center (row,col)
pcenter 8.5,14.0

# The default logging format for GISMO data
log.format id object    \tobsmins(f1) map.size\ttau.225GHz(f3)\tokchannels NEFD(s3)\tdir scanspeed(f1)\tAZd(f1) ELd(f1)\tRAh(f2) DECd(f1)\tPAd(f1)\tTamb(f1)\tfoc.X(f2) foc.Y(f2) foc.Z(f2)\t foc.dY(f2) foc.dZ(f2)\tFAZO(f1) FZAO(f1)\tpnt.FAZO(f1) pnt.FZAO(f1)\tsrc.peak(s3)  src.dpeak(s2)  \tsrc.FWHM(f1) src.dFWHM(f1)


# Specify the sources that should be reduced with 'bright' automatically
#object.[Moon] bright
object.[Mercury] bright
object.[Venus] bright
object.[Mars] bright
object.[Jupiter] bright
object.[Saturn] bright
#object.[Uranus] bright
#object.[SGRB2] bright

# Derive pointing/calibration data for sources whose names begin with 'PNT_'
# or 'CAL_'
object.[PNT_] point
object.[CAL_] point

